@use 'breakpoints' as *;
@use 'sizes' as *;

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin container {
  width: 100%;
  max-width: $container-max-width;
  margin-inline: auto;
  padding-inline: $page-padding-desktop;

  @include tablet-down {
    padding-inline: $page-padding-tablet;
  }

  @include mobile-down {
    padding-inline: $page-padding-mobile;
  }
}
