@use '../abstracts' as *;

.visually-hidden {
  @include visually-hidden;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  width: $size-2;
  height: $size-2;
}

.show-tablet,
.show-mobile {
  display: none;
}

@include tablet-down {
  .hide-tablet {
    display: none;
  }

  .show-tablet {
    display: inline;
  }
}

@include mobile-down {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: inline;
  }
}

.section-title {
  margin: 0;
  color: $color-on-primary;
  font-size: $font-size-headline-large;
  font-weight: $font-weight-extra-bold;
  line-height: $line-height-base;

  &::before {
    content: '';
    display: inline-block;
    width: $size-1;
    height: $size-4;
    border: $border-thin solid $color-on-primary;
    border-radius: $corner-full;
    margin-right: $size-1;
    background: $color-primary;
    vertical-align: middle;
  }

  @include tablet-down {
    font-size: $font-size-headline-medium;
  }
}
